# Lab 3.03 - Confidence intervals

In [1]:
# Package imports for data science
import numpy as np  # Scientific computing
import scipy.stats as stats  # Statistical tests
import pandas as pd  # Data Frame
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt  # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns  # Advanced data visualisation

C:\Users\nealj\AppData\Local\Temp\ipykernel_56704\2255606428.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd  # Data Frame

## Exercise 3.1 - rlanders

Load the dataset data/rlanders.csv. Use the column Money.  
We assume that the values from this sample are normally distributed around a population mean $\mu$ that is unknown, but that the standard deviation of the population is known, i.e. $\sigma = 98$.

In [2]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/HoGentTIN/dsai-en-labs/main/data/rlanders.csv"
).set_index(["ID"])


# Show the first few records of the Data Frame


df.head()

    Gender  Money  Days  Months  Count  Survey
ID
1   Female    440    29      11     35       3
2   Female    503    23      10     52       3
3     Male    412    16      11     55       3
4     Male    587    25       9     28       5
5     Male    525    30      11     41       4

Calculate a 99% confidence interval for the population mean (Answer: [484.191, 516.121]).

In [10]:
m = df["Money"].mean()
s = 98
n = df["Money"].count()

alpha = 0.01  # 1 - alpha is the confidence level
z = stats.norm.isf(alpha / 2)
print("z-score: %.5f" % z)

lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

z-score: 2.57583
Confidence interval: [484.1908, 516.1212]

Calculate a 95% confidence interval for the population mean. (Answer =  [488.008, 512.304])

In [11]:
alpha = 0.05  # 1 - alpha is the confidence level
z = stats.norm.isf(alpha / 2)
print("z-score: %.5f" % z)

lo = m - z * s / np.sqrt(n)
hi = m + z * s / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

z-score: 1.95996
Confidence interval: [488.0080, 512.3040]

Suppose Ïƒ is unknown, calculate a 95% confidence interval for the population mean. (Answer = [487.319, 512.993])

In [13]:
alpha = 0.05  # 1 - alpha is the confidence level
s_sample = df["Money"].std()  # using sample std if s is not known
z = stats.norm.isf(alpha / 2)
print("z-score: %.5f" % z)

lo = m - z * s_sample / np.sqrt(n)
hi = m + z * s_sample / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

z-score: 1.95996
Confidence interval: [487.3813, 512.9307]

Finally, suppose the sample consists of only the first 25 observations in this dataset. Calculate a 95% confidence interval for this situation.  
(Answer = [450.291,536.669])

In [22]:
alpha = 0.05  # 1 - alpha is the confidence level
n = df["Money"][:25].count()
s_sample = df["Money"][:25].std()
m = df["Money"][:25].mean()

t = stats.t.isf(alpha / 2, df=n - 1)
print("t-score: %.5f" % t)

lo = m - t * s_sample / np.sqrt(n)
hi = m + t * s_sample / np.sqrt(n)
print("Confidence interval: [%.4f, %.4f]" % (lo, hi))

t-score: 2.06390
Confidence interval: [450.2912, 536.6688]

## Exercise 3.2

1. How do you calculate the upper and lower limits of a 95% and 99% confidence interval?
2. A 99% confidence interval is [wider/narrower/the same width] as a 95% confidence interval. Why?
3. What would a 100% confidence interval look like?

In [ ]:
# 1
stats.norm.ppf(0.025, loc=m, sigma=s)
stats.norm.ppf(1 - 0.025, loc=m, sigma=s)

stats.norm.ppf(0.01, loc=m, sigma=s)
stats.norm.ppf(1 - 0.01, loc=m, sigma=s)

# 2